In [1]:
import pandas as pd

In [8]:
data=pd.read_csv("C:/Users/dell/OneDrive/سطح المكتب/level3/AI/sec/iris.csv")

In [10]:
data.head(10)

   sepal.length  sepal.width  petal.length  petal.width    type
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [11]:
data_input=data.drop(columns='type')  
data_output=data['type']

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=
train_test_split(data_input,data_output,test_size=0.30,random_state=0)

In [14]:
from sklearn.tree import DecisionTreeClassifier

In [15]:
clf=DecisionTreeClassifier()
clf=clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [18]:
from sklearn.metrics import accuracy_score
print("Accuracy is :", accuracy_score(y_test,y_pred))

Accuracy is : 0.9777777777777777